body {
  box-sizing: border-box;
}
article {
  border: 1px solid lightblue;
  width: 30%;
  display: inline-block;
  margin-bottom: 5px;
}
li {
  list-style: none;
}
header h1 {
  border: 1px dotted lightgray;
}
h1, img {
  margin: auto;
  text-align: center;
}
img {
  width: 100%;
  height: auto;
}
.description {
  text-align: justify;
}
.specs  li {
  font-weight: bold;
}
.avail {
  background-color: darkgray;
  color: yellow;
}